<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peter.appmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.peter.appmanager.AppManager"
        android:allowBackup="true"
        android:icon="@drawable/session_manager"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.peter.appmanager.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.peter.appmanager.SettingActivity"
            android:label="@string/except" >
        </activity>

        <service
            android:name=".MyService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.peter.appmanager" />
            </intent-filter>
        </service>

        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".RestartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>